/* CSS Document */
#cnts
{
	float:left;
	display:inline;
	width:49.5%;
	margin:0 auto;
	margin-bottom:.125em;
	border:.125em solid #EDEDED;
	background-color: #C9C9C9;
	border-radius:.625em;
}
#cnts .Icone
{
	float:left;
	left:0.625em;
	margin:.3125em;
}
#cnts .Texte
{
	float:left;
	white-space: pre-line;
	text-align:left;
}
#cnts .Texte p
{
	font-size:1em;
	height:1em;
}

#cnts .Icone
{
	width:5em;
	height:5em;
}

@media screen and (max-width: 640px)
{
	body[class="portrait"] #cnts
	{
		display:Block;
		width:49%;
	}
	body[class="paysage"]  #cnts
	{
		display:block;
		width:49%;
	}
	#cnts .Icone
	{
		width:1.875em;
		height:1.875em;
	}
	#cnts .Texte
	{
		font-size:0.5em;
	}	
}
