/* Div principal des scenarios */
#scenarios
{
	display:		block;
	position:		relative;
	width:			99%;
	margin:			0 auto;
 	margin-bottom:0.125em;
  padding-bottom:0.5em;
	border:			0.125em solid #EDEDED;
	background-color:#C9C9C9;
	border-radius:	0.625em;
  text-align:center;
}

.Containerscenario  
{
	position: relative;
	margin-right :  auto;
  margin-left  :  auto;
  float : left;
	text-align:center;
}
  
body[class="paysage"]  .Containerscenario {width:6.25%;}
body[class="portrait"] .Containerscenario {width:12.5%;}

.Entetescenario 
{
	display:block;
	text-align:center!important;
	border-spacing:0px;
	padding:0
}

body[class="paysage"]  .Entetescenario  
{
	height:1.5em;
	font-size:1em;
}
    
body[class="portrait"] .Entetescenario  
{
	height:1.5em;
	font-size:0.8em;
}

/* Image du bouton relais */
.Imagescenario 
{
	display:block;
	margin :auto;
	border-spacing : 0;
	padding : 0;
	text-align:center;
	cursor:  pointer;
}

body[class="paysage"]  .Imagescenario {width : 85%;}
body[class="portrait"] .Imagescenario {width : 90%;}

@media screen and (max-width: 640px) 
{
	body[class="paysage"]  .Entetescenario 
	{
		height:1.5em;
		font-size:0.6em;
	}
		
	body[class="portrait"] .Entetescenario  
	{
		height:1.5em;
		font-size:0.5em;
	}
	
	
}